@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  ;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f4f4f4; /* Track color */
  border-radius: 6px; /* Optional: Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 6px; /* Optional: Rounded corners */
  border: 3px solid #f4f4f4; /* Adds padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Scrollbar thickness */
  scrollbar-color: #888 #f4f4f4; /* Thumb and track colors */
}


/* Global Styles */
button {
  @apply text-black dark:text-white;
}
